.terms
  %h3{:style => "text-align:center"} Terms and Conditions
  %div{:style => "border:1px solid rgba(0,0,0,0.3);padding:10px;border-radius:2px"}
    %div{:style => "border-bottom:1px solid rgba(0,0,0,0.3)"}
      %div{:style => "font-size:0.8em;margin-bottom:10px;text-align:right"} Last updated: 01/15/2018
      %div{:style => "margin-top:10px;margin-bottom:10px"}
        Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using
        the https://staplethemes.com, and related subdomains - (the "Service") - operated by Staple Themes Ltd. ("Staple Themes", "us", "we", or "our").
      %div{:style => "margin-top:10px;margin-bottom:10px"}
        Your access to and use of the Service is conditioned on your acceptance of and compliance with
        these Terms. These Terms apply to all visitors, users, and others who access or use the Service.
      %div{:style => "margin-top:10px;margin-bottom:10px;font-weight:500;color:#111"}
        By accessing or using the Service you agree to be bound by these Terms. If you disagree
        with any part of the terms then you may not access the Service.
    %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} PRIVACY
    %div
      %div
        Please review our
        %a{:href => "/privacy"} Privacy Policy.
    %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} ELECTRONIC COMMUNICATIONS
    %div
      %div When you visit Staple Themes or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail, or by posting notices on this site, or sending you a message on the site (sent to the user's mailbox).
      %div{:style => "margin-top:5px"} You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.
    %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} COPYRIGHT
    %div
      %div All content included on this site, such as text, graphics, logos, button icons, images, audio clips, video clips, digital downloads, data compilations, and software, is the property of Staple Themes or its content suppliers and protected by international copyright laws.
      %div{:style => "margin-top:5px"} The compilation of all content on this site is the exclusive property of Staple Themes, with copyright authorship for this collection by Staple Themes, and protected by international copyright laws.
    %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} TRADE MARKS
    %div
      %div Staple Themes's trademarks and trade dress may not be used in connection with any product or service that is not Staple Themes's, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Staple Themes.
      %div{:style => "margin-top:5px"} All other trademarks not owned by Staple Themes or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Staple Themes or its subsidiaries.
    %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} LICENSE AND SITE ACCESS
    %div
      %div Staple Themes grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of Staple Themes.
      %div{:style => "margin-top:5px"} This license does not include any resale or commercial use of this site or its contents: any collection and use of any product listings, descriptions, or prices: any derivative use of this site or its contents: any downloading or copying of account information for the benefit of another merchant: or any use of data mining, robots, or similar data gathering and extraction tools.
      %div{:style => "margin-top:5px"} This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Staple Themes. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Staple Themes and our associates without express written consent.
      %div{:style => "margin-top:5px"}
        You may not use any meta tags or any other "hidden text" utilizing Staple Themes's name or trademarks without the express written consent of Staple Themes. Any unauthorized use terminates the permission or license granted by Staple Themes.
        %div
          %div{:style => "margin-top:5px"} You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page, and inner pages, of Staple Themes so long as the link does not portray Staple Themes, its associates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter.
          %div{:style => "margin-top:5px"} You may not use any Staple Themes's logo, trademark, or other proprietary graphic, as part of the link without express written permission.
        %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} YOUR MEMBERSHIP ACCOUNT
        %div
          %div If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.
          %div{:style => "margin-top:5px"} If you are under the age of 13, you are not permitted to use the Service.
          %div{:style => "margin-top:5px"} If you are under 18 years old, you may only use the Service if you have recevied approval from your parent or guardian.
          %div{:style => "margin-top:5px"} Staple Themes, and its associates, reserve the right to refuse service - terminate, ban, or suspend accounts - remove or edit content - or cancel orders at their sole discretion.
        %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} REVIEWS, COMMENTS, EMAILS, AND OTHER CONTENT
        %div
          %div
            Visitors may post reviews, comments, and other content: and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable.
            %div{:style => "margin-top:5px"} You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content.
            %div{:style => "margin-top:5px"} Staple Themes reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content.
            %div{:style => "margin-top:5px"} If you do post content or submit material, and unless we indicate otherwise, you grant Staple Themes and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media.
            %div{:style => "margin-top:5px"} You grant Staple Themes and its associates and sublicensees the right to use the name that you submit in connection with such content, if they choose.
            %div{:style => "margin-top:5px"} You represent and warrant that you own or otherwise control all of the rights to the content that you post: that the content is accurate: that use of the content you supply does not violate this policy and will not cause injury to any person or entity: and that you will indemnify Staple Themes or its associates for all claims resulting from content you supply.
            %div{:style => "margin-top:5px"} Staple Themes has the right but not the obligation to monitor and edit or remove any activity or content.
            %div{:style => "margin-top:5px"} Staple Themes takes no responsibility and assumes no liability for any content posted by you or any third party.
          %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} PURCHASE LICENSE
          %div
            %div
              When you buy an item, you acquire the right to use that item; you're not actually acquiring the item itself.
              %div{:style => "margin-top:5px"} What you get includes a license which allows you to use that item. This license also applies to you if you download an item that someone else has bought for you (because anyone downloading an item needs to be a Staple Themes member). Different license types are available for you to choose when you select an item. It’s your responsibility to choose the correct license.
            %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} STRIPE SERVICES AGREEMENT
            %div
              Payment processing services for sellers on Staple Themes are provided by Stripe and are subject to the
              = succeed "," do
                %a{:href => "https://stripe.com/us/connect-account/legal", :rel => "noopener noreferrer", :target => "_blank"} Stripe Connected Account Agreement
              %a{:href => "https://stripe.com/us/legal", :rel => "noopener noreferer"} Stripe Terms of Service
              (collectively, the “Stripe Services Agreement”).
            %div{:style => "margin-top:5px"} By agreeing to these terms or continuing to operate as a seller on Staple Themes, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time.
            %div{:style => "margin-top:5px"} As a condition of Staple Themes enabling payment processing services through Stripe, you agree to provide Staple Themes accurate and complete information about you and your business, and you authorize Staple Themes to share it and transaction information related to your use of the payment processing services provided by Stripe.
          %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} PRODUCT DESCRIPTIONS
          %div
            %div Staple Themes and its associates attempt to be as accurate as possible.
            %div{:style => "margin-top:5px"} However, Staple Themes does not warrant that product descriptions or other content of this site is accurate, complete, reliable, current, or error-free.
            %div{:style => "margin-top:5px"} If a product offered by Staple Themes itself is not as described, your sole remedy is to return it in unused condition.
          %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY
          %div
            %div{:style => "margin-top:5px"} THIS SITE IS PROVIDED BY Staple Themes ON AN "AS IS" AND "AS AVAILABLE" BASIS.
            %div{:style => "margin-top:5px"} Staple Themes MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE.
            %div{:style => "margin-top:5px"} YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.
            %div{:style => "margin-top:5px"} TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, Staple Themes DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
            %div{:style => "margin-top:5px"} Staple Themes DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM Staple Themes ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
            %div{:style => "margin-top:5px"} Staple Themes WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES.
            %div{:style => "margin-top:5px"} CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
          %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} APPLICABLE LAW
          %div
            %div By visiting Staple Themes, you agree that the laws of the state of Colorado, United States, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Staple Themes or its associates.
          %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} DISPUTES
          %div
            %div Any dispute relating in any way to your visit to Staple Themes or to products you purchase through Staple Themes, shall be submitted to confidential arbitration in Colorado, United States, except that, to the extent you have in any manner violated or threatened to violate Staple Themes's intellectual property rights, Staple Themes may seek injunctive or other appropriate relief in any state or federal court in the state of Colorado, United States, and you consent to exclusive jurisdiction and venue in such courts.
            %div{:style => "margin-top:5px"} Arbitration under this agreement shall be conducted under the rules then prevailing of the American Arbitration Association. The arbitrators award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.
            %div{:style => "margin-top:5px"} Please review our other policies, such as our Shipping and Returns policy, posted on this site. These policies also govern your visit to Staple Themes. We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.
          %div{:style => "font-size:1.2em;margin-top:10px;margin-bottom:10px"} QUESTIONS:
          %div
            %div Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be directed to our support staff by clicking on the "Contact Us" link in the side menu.
            %div{:style => "margin-top:5px"}
              Or you can email us at:
              %a{:style => "cursor: pointer; touch-action: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"} info@staplethemes.com
