.reset-container.row
    %h4.center
        Reset Password
    .col.m6.offset-m3{style:"margin-top:10px"}
        .input-field
            = label_tag :username_reset, 'Username or Email'
            = text_field_tag :username_reset, '' , {required: true, autofocus: true, label: false, label: 'Username or Email', input_html: { class: 'input-lg' }}
        .input-field.center
            %i#reset-password-button-modal{class:"btn waves-effect waves-light waves-input-wrapper"}
                .waves-button-input{style:"font-style:initial"} Reset Password