.shopping-cart-modal
    .top
        .shopping-cart-close-container{:style => "touch-action: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"}
            .shopping-cart-close-button-first
            .shopping-cart-close-button-second
        %h5.center Shopping Cart
    .inner-container
        %h6 No Items Have Been Added To The Cart