%nav.upper-nav-bar.hide-on-med-and-down
    .nav-wrapper
        %ul.left
            %li
                %a{href:"https://www.facebook.com/Staple-Themes-662852424105352/", target:"_blank"}
                    %i.fa.fa-facebook
            %li
                %a{href:"https://twitter.com/StapleThemes", target:"_blank"}
                    %i.fa.fa-twitter
        %ul.right
            %li#cart
                %a
                    %i.fa.fa-shopping-cart
                    -if @order && @order['themes'].length
                        .cart-number-container
                            %span.cart-number
                                = @order['themes'].length
                            