%nav.upper-nav-bar.hide-on-med-and-down
    .nav-wrapper
        %ul.left
            %li
                %a{href:"https://www.facebook.com/Staple-Themes-1694278880645952/", target:"_blank"}
                    %i.fa.fa-facebook
            %li
                %a{href:"https://twitter.com/StapleThemes", target:"_blank"}
                    %i.fa.fa-twitter
        %ul.right
            %li
                %a
                    %i.fa.fa-shopping-cart