*
!/*
/themes/
/Licensing/
/Documentation/
!wordpress/
!wordpress/wp-content/
!wordpress/wp-content/*
!wordpress/wp-content/*/*
!wordpress/wp-content/*/*/*
!wordpress/wp-config.php
wordpress/wp-content/.DS_Store