/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("purple", "darken-2") !default;
$secondary-color: color("blue", "darken-1") !default;
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

:focus{
    outline:none;
}

.text-center{
    text-align: center;
}

.new-green{
	background-color: #25c91a !important;
}
.alert-outer-container{
    position: absolute;
    width: 100%;
    margin: auto;
    max-height: 50px !important;
}
.alert-container{
    position: relative;
    width: 100%;
    float: left;
    height: 50px;
    padding-top: 5px;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity:1;
}

.alert-info, .alert-danger, .alert-success{
    background-color: #1e88e5 !important;
    margin: auto;
    width: 50%;
    border-radius: 5px;
    height: 50px;
    position: relative;
    color: white;
    top: -20px;
    p {
        font-size: 1.3rem;
        position: relative;
        padding-top: 10px;
    }
}

.alert-danger{
    background-color: #e53935 !important;
}
.alert-info{
    background-color: #1e88e5 !important;
}
.alert-success{
    background-color: #25c91a !important;
}

.body-container{
    width: 98%;
    margin: 50px auto;
}
.fadeout{
    opacity: 0 !important;
}
.picture-upload-area{
    margin:50px 0px;
    height:200px;
    border: 1px solid rgba(0,0,0,0.3);
    > label{
        font-size:1.3em;
        display:block;
    }
}
#back-to-top{
    position: fixed;
    right: 15px;
    bottom: 10px;
    background: rgba(126, 36, 155,0.85);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 1;
    display: none;
    > i {
        width: 35px;
        height: 35px;
        line-height: 34px;
        color: #fff;
        text-align: center;
        border: 1px solid white;
    }
    &:hover{
        background: rgba(126, 36, 155,1);
    }
}
.dropdown-content{
    background-color:#303030;
    min-width:150px;
    > li {
        transition:none !important;
        &:hover, &:active{
            background-color:white !important;
            > a {
                color:black !important;
                &:hover{
                    background-color:inherit !important;
                }
            }
        }
        > a{
            transition: none !important;
            color:white !important;
        }
    }
}

.upper-nav-bar{
    background-color:#303030;
    height:32px;
    > .nav-wrapper > ul{
        height:inherit !important;
        > li {
            height:inherit !important;
            line-height:inherit !important;
            > a {
                height:inherit !important;
                line-height:inherit !important;
                font-size:1.15em !important;
                &:hover{
                    > i {
                        color: #1e88e5 !important;
                    }
                }
                > i {
                    height:inherit !important;
                    line-height:32px !important;
                }
            }
        }
    }
}
.side-nav{
    width:250px;
}
.theme-price{
    position:absolute;
    top:0px;
    right:0px;
    opacity:0.9;
    box-shadow: 0px 0px 0px 0px white;
    background-color:forestgreen;
    &:hover{
        box-shadow: 0px 0px 0px 0px white;
        background-color:forestgreen;
        color:white;
        cursor:default;
    }
    &:focus, &:active{
        background-color:forestgreen;
    }
}
.card-image{
    img{
        transition: all 0.2s ease-in;
    }
    &:hover{
        img{
            transform:scale(1.1);
        }
    }
}
.card-title:hover{
            text-decoration:underline;
}
.footer-social-icons > a{
  margin-right:5px;
}

.footer-social-icons > a > li{
    list-style: none;
    display:inline;
}

.footer-social-icons > a > li > i{
  width:35px;
  height:35px;
  line-height: 35px;
  border: 1px solid #ebebeb;
  text-align:center;
  font-size:1.2em;
  color: #ebebeb;
}
.img-container{
    text-align:center;
    img{
        height:250px;
        border: 1px solid #dedede;
        box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
    }
}
.comments-container, .theme-container{
    width:80%;
    margin:auto;
}
.description{
    margin-top:20px;
}
.comments-container{
    margin-top:20px;
    border-top:1px solid rgba(0,0,0,0.1);
}
.failure-rounded{
    background-color:red;
    border-radius:30px;
}
#toast-container{
    right:0px;
    left:0px;
    max-width:100%;
    .toast{
        left:50% !important;
        transform:translateX(-50%) !important;
        width:fit-content;
    }
}
.comment-form-container{
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top:20px;
}
i.btn.waves-effect input{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}