/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: #8708bd !default;
$secondary-color: color("blue", "darken-1") !default;
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

h1 {
  font-size: 2.5em !important;
}

h2 {
  font-size: 2.15em !important;
}

h3 {
  font-size: 1.95em !important;
}

h4 {
  font-size: 1.75em !important;
}

h5 {
  font-size: 1.65em !important;
}
select{
    display:initial;
}
:focus{
    outline:none;
}

.hidden{
    display:none;
}

.text-center{
    text-align: center;
}

.new-green{
	background-color: #25c91a !important;
}
.alert-outer-container{
    position: absolute;
    width: 100%;
    margin: auto;
    max-height: 50px !important;
}
.alert-container{
    position: relative;
    width: 100%;
    float: left;
    padding-top: 5px;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity:1;
    z-index: 9;
}

.alert-info, .alert-danger, .alert-success{
    background-color: #1e88e5 !important;
    margin: auto;
    width: 50%;
    border-radius: 5px;
    height: 50px;
    position: relative;
    color: white;
    top: -20px;
    p {
        font-size: 1.3rem;
        position: relative;
        padding-top: 10px;
    }
}

.alert-danger{
    background-color: #e53935 !important;
}
.alert-info{
    background-color: #1e88e5 !important;
}
.alert-success{
    background-color: #25c91a !important;
}

.body-container{
    width: 98%;
    margin: 50px auto;
    min-height:calc(100vh - 99px - 305px);
}
.fadeout{
    opacity: 0 !important;
}
.picture-upload-area{
    margin:50px 0px;
    height:200px;
    border: 1px solid rgba(0,0,0,0.3);
    > label{
        font-size:1.3em;
        display:block;
    }
}
#back-to-top{
    position: fixed;
    right: 15px;
    bottom: 10px;
    background: rgba(135, 8, 189,0.85);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 1;
    display: none;
    transition: all 0s;
    > i {
        width: 35px;
        height: 35px;
        line-height: 34px;
        color: #fff;
        text-align: center;
        border: 1px solid white;
    }
    &:hover{
        background: rgba(135, 8, 189,1);
    }
}
.dropdown-content{
    background-color:#303030;
    min-width:150px;
    > li {
        transition:none !important;
        &:hover, &:active{
            background-color:white !important;
            > a {
                color:black !important;
                &:hover{
                    background-color:inherit !important;
                }
            }
        }
        > a{
            transition: none !important;
            color:white !important;
        }
    }
}

.upper-nav-bar{
    background-color:#303030;
    height:32px;
    > .nav-wrapper > ul{
        height:inherit !important;
        > li {
            height:inherit !important;
            line-height:inherit !important;
            > a {
                height:inherit !important;
                line-height:inherit !important;
                font-size:1.15em !important;
                &:hover{
                    > i {
                        color: #1e88e5 !important;
                    }
                }
                > i {
                    height:inherit !important;
                    line-height:32px !important;
                }
            }
        }
    }
}
.side-nav{
    width:250px;
}
.theme-price{
    position:absolute;
    top:0px;
    right:0px;
    opacity:0.9;
    box-shadow: 0px 0px 0px 0px white;
    background-color:forestgreen;
    &:hover{
        box-shadow: 0px 0px 0px 0px white;
        background-color:forestgreen;
        color:white;
        cursor:default;
    }
    &:focus, &:active{
        background-color:forestgreen;
    }
}
.card-image{
    img{
        transition: all 0.2s ease-in;
    }
    &:hover{
        img{
            transform:scale(1.1);
        }
    }
}
.card-title:hover{
            text-decoration:underline;
}
.footer-social-icons > a{
  margin-right:5px;
}

.footer-social-icons > a > li{
    list-style: none;
    display:inline;
}

.footer-social-icons > a > li > i{
  width:35px;
  height:35px;
  line-height: 35px;
  border: 1px solid #ebebeb;
  text-align:center;
  font-size:1.2em;
  color: #ebebeb;
}
.theme-container{
    .img-container{
        text-align:center;
        img{
            max-height: 250px;
            max-width: 100%;
            border: 1px solid #dedede;
            box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px rgba(63,63,68,.1), 0 1px 2px rgba(0,0,0,.05);
        }
    }
    .description{
        border-top: 1px solid rgba(0,0,0,0.1);
    }
    .sale-price{
        margin-top:10px;
    }
}
.comments-container, .theme-container{
    width:80%;
    margin:auto;
}
.description{
    margin-top:20px;
}
.comments-container{
    margin-top:20px;
    border-top:1px solid rgba(0,0,0,0.1);
}
.success-rounded{
    background-color: #25c91a !important;
    border-radius:30px;
}
.failure-rounded{
    background-color:red;
    border-radius:30px;
}
#toast-container{
    right:0px;
    left:0px;
    max-width:100%;
    .toast{
        left:50% !important;
        transform:translateX(-50%) !important;
        width:fit-content;
    }
}
.comment-form-container{
    margin-top:20px;
}
i.btn.waves-effect input{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.main-home-container{
    height: calc(100vh - 64px - 32px);
    background-color:black;
    width: 100vw;
    left: -1%;
    position: relative;
    top: -50px;
    overflow:hidden;
    .img-container{
        height: calc(100vh - 64px - 32px);
        background: #7F00FF;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(left, #E100FF, #7F00FF);
        background: -moz-linear-gradient(left, #E100FF, #7F00FF);
        background: -o-linear-gradient(left, #E100FF, #7F00FF);
        background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100vw;
        opacity:0.7;
        img{
            opacity:0.4;
            width:100%;
        }
    }
    .carousel-container{
        height: calc(100vh - 64px - 32px);
        width: 100vw;
        position: relative;
        top: calc(0px - 100vh + 64px + 32px);
        z-index: 3;
    }
    .info-container{
        height: calc(100vh - 64px - 32px);
        width: 100vw;
        position: relative;
        top: calc(0px - 200vh + 128px + 64px);
        .top-info-container{
            color:white;
            text-align:center;
            font-size:1.3em;
            margin-top:5px;
        }
        .button-container{
            position: relative;
            top: calc((100vh - 64px - 32px) / 1.5);
            text-align: center;
            z-index:4;
        }
    }
}
.progress-container{
    display:none;
}
.comments-container{
    .comment{
        padding:5px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}
.shopping-cart-modal{
    opacity:0;
    z-index: -9;
    position:fixed;
    top: 0px;
    right: 0px;
    width: 35%;
    height: 100vh;
    background-color: #3f3f3f;
    color:white;
    transition: opacity .4s,z-index .4s;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22), 0 25px 55px 0 rgba(0,0,0,.21);
    border: 1px solid #333;
    .top{
        border-bottom: 1px solid white;
    }
    .inner-container{
        width: 90%;
        margin: auto;
        margin-top:9px;
        height: calc(100% - 64px);
        padding: 10px;
        background-color: #222;
        overflow-y: scroll;
    }
    &.show{
        opacity:1;
        z-index:999;
    }
}
.shopping-cart-close-container{
    position:absolute;
    top: 15px;
    cursor:pointer;
}
.shopping-cart-close-button-first{
    padding-top: 1px;
    width: 30px;
    height: 1px;
    background-color: #fff;
    transform: rotate(58deg);
    -webkit-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
}
.shopping-cart-close-button-second{
    width: 30px;
    margin-top: 15px;
    height: 1px;
    background-color: #fff;
    transform: rotate(-32deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}
.modal-actions{
    margin-top:20px;
}
.cart-number-container{
    position: relative;
    background-color: red;
    height: 11px;
    width: 11px;
    padding: 0px;
    margin: 0px;
    top: -30px;
    right: -10px;
    border-radius: 50%;
}
.cart-number{
    position: absolute;
    top: -25px;
    font-size: 0.65em;
    right: 2px;
}
.cart-modal-image, .cart-modal-image{
    img{
        height:100px;
    }
}
.cart-item{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.cart-item:last-child{
    border-bottom: none;
}
.expiration-tags{
    label{
        display:block;
    }
    #date_year{
        width:50%;
        float:right;
    }
    #date_month{
        width:50%;
        float:left
    }
}
.order-submit{
    text-align:center;
    margin:auto;
    display:block;
}
.order-submit-form{
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.2);
    padding-bottom: 10px;
}
#paypal-button{
    width:fit-content;
    float:right;
    margin-left: calc(0px - ((100vw / 2) - 0.75em) / 5);
    padding-right: calc(((100vw / 2) - 0.75em) / 5);
}
@media(min-width:1800px){
    #paypal-button{
        margin-left:calc(0px - ((100vw / 2) - 0.75em) / 4);
        padding-right: calc(((100vw / 2) - 0.75em) / 4);
    }
}
@media(max-width:1100px) and (min-width:800px){
    #paypal-button{
        margin-left:calc(0px - ((100vw / 2) - 0.75em) / 10);
        padding-right: calc(((100vw / 2) - 0.75em) / 10);
    }
}
@media(max-width:800px) and (min-width:652px){
    #paypal-button{
        margin-left:calc(0px - ((100vw / 2) - 0.75em) / 50);
        padding-right: calc(((100vw / 2) - 0.75em) / 50);
    }
}
@media(max-width:500px){
    #paypal-button{
        margin-left:calc(0px - ((100vw / 2) - 0.75em) / 10);
        padding-right: calc(((100vw / 2) - 0.75em) / 10);
    }
}
.checkout-container{
    position:relative;
    display:block;
}
.credit-card-form{
    width:90%;
    margin:auto;
}
.orders-page-image img{
    height:150px;
}
.copyright-link{
    color:rgba(255, 255, 255, 0.8);
    &:hover{
        color:rgba(255, 255, 255, 0.8);
        text-decoration: underline;
    }
}
.orders-container{
    width:80%;
    margin:auto;
    background-color:#efefef;
    border-radius:3px;
    .order{
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
    .order:last-child{
        border-bottom:none;
    }
    .top-section{
        font-size:1.15em;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        margin-bottom:10px;
        padding:5px 0px;
        .total,.created,.items{
            display:inline;
            margin-right:10px;
        }
    }
}
.download-btn, .download-btn:visited, .download-btn:focus, .download-btn:active{
    margin-top:10px;
    background-color:#25c91a;
    &:hover{
        background-color: rgba(37, 201, 26, 0.8);
    }
}
.contact-form{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:3px;
    padding:5px !important;
}
@media(min-width:700px){
    .terms,.cookies,.privacy{
        width:80%;
        margin:auto;
    }
}
.credit-card-form-js{
    margin-bottom: 10px;
    margin-top: -10px;
}