.main-hosting-container
    .img-container
        =image_tag('https://cdn.staplethemes.com/images/background-image-hosting.jpg')
    .info-container
        .top-info-container
            .moto
                Speed Meets Security And Durability
            .main
                Managed WordPress Hosting For The 21st Century
            .moto-two
                Cloud Based Hosting With Simplicity In Mind
        .button-container
            %a.btn.waves-effect.waves-light{href:"#why", style:"background:none;border:1px solid white"}
                Why Staple Themes
            %a.btn.waves-effect.waves-light{href:"#plans", style:"border: 1px solid white;background: #ff5200;;margin-left:20px"}
                Check Our Plans
#why.hosting-section{style:"background: linear-gradient(105deg,#0ecad4,#5d67f0);color:white"}
    %h4{style:"padding-top: 20px;text-align: center;font-size: 2.2em !important;"} Why Staple Themes
    .row
        .col.s12.m4
            .card.blue-grey.darken-1{style:"padding-bottom:10px;min-height:116px;"}
                .card-content.white-font
                    %span.card-title
                        %i.fa.fa-cloud
                        Cloud
                    %p
                        With all of our servers being their own dedicated VPS, you get blazing speeds not found within shared enviornments.
        .col.s12.m4
            .card.blue-grey.darken-1{style:"padding-bottom:10px;min-height:116px;"}
                .card-content
                    %span.card-title
                        %i.fa.fa-shield
                        Security
                    %p
                        From firewalls, to ghosting, to continuous updates, Staple Themes
                        delivers secure servers while maintaining simplicity for the end user.

        .col.s12.m4
            .card.blue-grey.darken-1{style:"padding-bottom:10px;min-height:116px;"}
                .card-content
                    %span.card-title
                        %i.fa.fa-chain
                        SSL
                    %p
                        When using our platform, you will have access to free SSL certificates, ensuring secure transmission of your data.
    .row
        .col.s12.m4
            .card.blue-grey.darken-1{style:"padding-bottom:10px;min-height:116px;"}
                .card-content
                    %span.card-title
                        %i.fa.fa-rocket
                        WordPress Ready
                    %p
                        We do the heavy lifting for you. We get the server up to speed in order for you to instally get moving with WordPress.
        .col.s12.m4
            .card.blue-grey.darken-1{style:"padding-bottom:10px;min-height:116px;"}
                .card-content
                    %span.card-title
                        %i.fa.fa-refresh
                        Durability
                    %p
                        We take a snapshot/backup of your current configuration which you can later reinstate if need be.
        .col.s12.m4
            .card.blue-grey.darken-1{style:"padding-bottom:10px;height:height: 116px;"}
                .card-content
                    %span.card-title
                        %i.fa.fa-volume-control-phone
                        Fast and Easy Support
                    %p
                        Staple Themes implements a more personal relationship with our clients unseen in some of the bigger brands. We're here for you.

#plans.hosting-section{style:"padding-bottom:0px"}
    %h4{style:"padding-top: 20px;text-align: center;font-size: 2.2em !important;"} Plans
    .row
        .col.s12.m4
            .card.medium
                .card-content
                    %span.card-title 
                        %h5
                            Standard
                    .specs
                        %p 
                            1GB of Ram
                        %p
                            1 Core
                        %p 
                            25GB Storage
                        %p
                            1 TB Transfer
                        %p
                            Free SSL
                        %p
                            Dedicated IP
                        %p
                            Backups/Snapshots
                        %p
                            Continuous Security Updates
                        %p
                            Easy Wordpress Install
                    .price
                        %h5
                            $19.99/mo
                .card-action
                    %button.modal-hosting-trigger.btn.waves-effect.waves-light{style:"background:#ff5200;width:100%;", data:{plan:"1"}}
                        Get Started
        .col.s12.m4
            .card.medium
                .card-content
                    %span.card-title 
                        %h5
                            Growth
                    .specs
                        %p 
                            2GB of Ram
                        %p
                            2 Core
                        %p 
                            60GB Storage
                        %p
                            3TB Transfer
                        %p
                            Free SSL
                        %p
                            Dedicated IP
                        %p
                            Backups/Snapshots
                        %p
                            Continuous Security Updates
                        %p
                            Easy Wordpress Install
                    .price
                        %h5
                            $39.99/mo
                .card-action
                    %button.modal-hosting-trigger.btn.waves-effect.waves-light{style:"background:#ff5200;width:100%;", data:{plan:"2"}}
                        Get Started
        .col.s12.m4
            .card.medium
                .card-content
                    %span.card-title 
                        %h5
                            Scaling
                    .specs
                        %p 
                            4GB of Ram
                        %p
                            2 Core
                        %p 
                            80GB Storage
                        %p
                            4TB Transfer
                        %p
                            Free SSL
                        %p
                            Dedicated IP
                        %p
                            Backups/Snapshots
                        %p
                            Continuous Security Updates
                        %p
                            Easy Wordpress Install
                    .price
                        %h5
                            $59.99/mo 
                .card-action
                    %button.modal-hosting-trigger.btn.waves-effect.waves-light{style:"background:#ff5200;width:100%;", data:{plan:"3"}}
                        Get Started